.agents/skills/n8n-workflow-builder/resources/examples/api-integration-workflow.json
{
  "name": "API Integration Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-integration",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-hi4567890123",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "webhook-api-integration"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "extract-001",
              "name": "userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            },
            {
              "id": "extract-002",
              "name": "action",
              "value": "={{ $json.body.action }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-ij5678901234",
      "name": "Extract Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://jsonplaceholder.typicode.com/users/{{ $json.userId }}",
        "options": {},
        "sendHeaders": false,
        "sendQuery": false,
        "sendBody": false
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-jk6789012345",
      "name": "Call External API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-001",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "any",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-kl7890123456",
      "name": "Check API Response",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "success-001",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "success-002",
              "name": "userData",
              "value": "={{ $json }}",
              "type": "object"
            },
            {
              "id": "success-003",
              "name": "message",
              "value": "User data retrieved successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "h8i9j0k1-l2m3-4567-hijk-lm8901234567",
      "name": "Format Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "error-001",
              "name": "status",
              "value": "error",
              "type": "string"
            },
            {
              "id": "error-002",
              "name": "message",
              "value": "User not found",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "i9j0k1l2-m3n4-5678-ijkl-mn9012345678",
      "name": "Format Error Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "j0k1l2m3-n4o5-6789-jklm-no0123456789",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Parameters": {
      "main": [
        [
          {
            "node": "Call External API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call External API": {
      "main": [
        [
          {
            "node": "Check API Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check API Response": {
      "main": [
        [
          {
            "node": "Format Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "pinData": {},
  "versionId": "1"
}
